.main-nav {
  background: $primary-color;
  max-height: 0;
  transition: all 1s ease;

  &.show {
    transition: all 1s ease;
    max-height: 1000px;
  }
}

.main-menu {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;

  &__item  {
    border-bottom: 1px solid rgba(#fff,.5);
  }

  &__link {
    text-decoration: none;
    display: block;
    line-height: 3;
    padding: 0 1em;
    color: #fff;
  }
}

.toggle-menu {
  color: $primary-color;
  display: table;
  font-size: 1.6em;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
